body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: blue;
    background-color: rgb(206, 204, 204);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    color: black;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}